%h1 Home
%p.lead
  Created by the
  = link_to 'Web Ascender - Rails Jumpstart Template', 'https://github.com/web-ascender/rails-jumpstart'

.row
  .col
    .card
      .card-header Local Time
      .card-body
        The
        %code local-time
        is
        = local_time(Time.now)
        %br
        This page was rendered
        %code= local_time_ago(Time.now)
  .col
    .card
      .card-header select2
      .card-body
        %code select2
        dropdown of Countries for you
        = country_select("user","")
  .col
    .card
      .card-header Simple Form
      .card-body
        %code simple_form
        example
        %br
        - if user_signed_in?
          = link_to "My Profile", user_profile_path
        - else
          Login and then visit
          %strong My Profile
          from the user menu (upper-right)
  .col
    .card
      .card-header JB / JSON Views
      .card-body
        JSON views courtesy of the
        %code jb
        gem ->
        = link_to "home.json", home_path(format: :json)