%h1 Home
%p.lead
  Created by the
  = link_to 'Web Ascender - Rails Jumpstart Template', 'https://github.com/web-ascender/rails-jumpstart'

.row
  .col
    .card
      .card-header Local Time
      .card-body
        The
        %strong local-time
        gem says your local browser time is
        %code.d-block
          = local_time(Time.now)
        %br
        This page was rendered
        %code= local_time_ago(Time.now)
  .col
    .card
      .card-header Server Time
      .card-body
        - if user_signed_in?
          Your user profile says your local timezone is
          %code.d-block
            = current_user.time_zone
          and your local time is:
          %code.d-block
            = Time.current.to_s(:long)
        - else
          Anonymous user server time is:
          %code.d-block
            = Time.current

  .col
    .card
      .card-header select2
      .card-body
        %code select2
        dropdown of Countries for you
        = country_select("user","")
  .col
    .card.mb-3
      .card-header jQuery UI Date Picker
      .card-body
        Simple
        %code text
        input with
        %code class="datepicker"
        = text_field_tag "label", nil, class: "datepicker"
        %hr
        %p
          Our custom
          %code date_input
          SimpleForm helper
          = simple_form_for(User.new, url: user_update_profile_path) do |f|
            = date_input(f, :created_at)
.row
  .col
    .card
      .card-header Simple Form
      .card-body
        %code simple_form
        example
        %br
        - if user_signed_in?
          = link_to "My Profile", user_profile_path
        - else
          Login and then visit
          %strong My Profile
          from the user menu (upper-right)
  .col
    .card
      .card-header JB / JSON Views
      .card-body
        JSON views courtesy of the
        %code jb
        gem ->
        = link_to "home.json", home_path(format: :json)
  - if User.devise_modules.include?(:omniauthable)
    .col
      .card
        .card-header Google Login
        .card-body
          = link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path