!!!
%html{ lang: 'en' }
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    %title
      = yield(:title) + ' | ' if content_for?(:title)
      = Rails.configuration.application_name
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'

  %body.devise
    .container-fluid.mt-3.mb-5
      .auth-container.mt-5
        .card
          .card-body
            .auth-header
              = image_tag asset_pack_path 'media/images/logo-login.png'
            %hr
            = yield

    - if flash[:alert]
      .invisible
        .container.p-3.text-center= flash[:alert]
      .app-flash-alert.fixed-bottom.bg-danger.text-white
        .container.p-3.text-center= flash[:alert]
    - if flash[:notice]
      .invisible
        .container.p-3.text-center= flash[:notice]
      .app-flash-alert.fixed-bottom.bg-success.text-white
        .container.p-3.text-center= flash[:notice]